/* general, 1rem 16px */
/* font family was monospace */
* {
    font-size: 1rem; 
    margin: 0;
    padding: 0;
    font-weight: 500;
}

/* Body */

header {
    display: block;
    width: 100%;
    align-content: center;
    text-align: center;
    height: 8rem;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .25rem .25rem .25rem hsl(184, 73%, 41%);
}

/* CHANGE TO 56.25rem */
main {
    width: 50rem;
    margin: auto;
}

/* Display */

.h2-tag {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: .25rem .25rem .25rem hsl(184, 73%, 41%);


    text-align: center;
}

main h2 {
    font-size: 1.5rem;
}

/* Color Chart */

.color-chart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    padding: 1rem;
    gap: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.color-palette {
    width: 16rem;
    height: 7rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.color-palette h3 {
    font-size: 1.25rem;
}

.color-palette p {
    color: #000;
}

.color-palette:nth-child(1) {
    background-color: hsl(191, 85%, 64%);
    border-radius: 1rem;
}

.color-palette:nth-child(2) {
    background-color: hsl(0, 87%, 67%);
    border-radius: 1rem;
}

.color-palette:nth-child(3) {
    background-color: hsl(130, 42%, 55%);
    border-radius: 1rem;
}

.color-palette:nth-child(4) {
    background-color: hsl(62, 53%, 73%);
    border-radius: 1rem;
}
/* Font Chart */

.font-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: hsl(0, 0%, 75%);
    padding: 1rem;
    gap: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.font-display {
    width: 16rem;
    height: 15rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

/* Poppins Font */
#poppins,
#normalp,
#boldp,
#italicp {
    font-family: 'Poppins';
    font-size: .8rem;
}

#normalp {
    font-style: normal;
}

#boldp {
    font-weight: bold;
}

#italicp {
    font-style: italic;
}

/* Alice Font */

#alice,
#normala,
#bolda,
italica {
    font-family: 'Alice';
    font-size: 1rem;
}

#normala {
    font-style: normal;
}

#bolda {
    font-weight: bold;
}

#italica {
    font-style: italic;
}

/* Karla Font */

#karla,
#normalk,
#boldk,
#italick {
    font-family: 'Karla';
}

#normalk {
    font-style: normal;
}

#boldk {
    font-weight: bold;
}

#italick {
    font-style: italic;
}

/* Text Styles */

.text-styling {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: hsl(0, 21%, 42%);
    padding: 1rem;
    gap: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.text-display {
    width: 16rem;
    height: 18rem;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-items: center;
}

#main {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
}

#sub {
    font-family: 'Alice';
    font-weight: 500;
    font-size: 18px;
}

#para {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 14px;
}